__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
*.db
*.log
.DS_Store
.idea/
.vscode/
data/raw/*
data/processed/*
models/trained_models/*
!data/.gitkeep
!models/.gitkeep
logs/*
!logs/.gitkeep
web_app/uploads/*
!web_app/uploads/.gitkeep
*.pt
*.pth
*.h5